---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>University of Utah</h2>
Spring 2024: Math 1090 - Business Algebra <br>
Fall 2023:   Math 1060 - Trigonometry <br>
Summer 2023: Math 1010 - Intermediate Algebra <br>
Spring 2023: Math 2250 - Differential Equations & Linear Algebra (TA) <br>
Fall 2022:   Math 2250 - Differential Equations & Linear Algebra (TA)

<h2>IITB (Undergraduate)</h2>
I have been a teaching assistant for various courses at IITB: Calculus (MA 105, MA 109), Linear Algebra (MA 106), Ordinary Differential Equations (MA 108), Complex Analysis (MA 205), Partial Differential Equations (MA 207), Numerical Analysis (MA 214). <br>
For some of these, I have created pages where I would post material relevant to the course and the tutorials that I took. You can find a list of those pages on my personal website <a href="http://aryamanmaithani.github.io/tuts/" target="_blank">here</a>.

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->