--- 
layout: page
title: Math
image: /img/avatar-icon.png
light-image: /img/avatar-icon-light.png
---

HI!


<div class="posts-list">
    {% for post in site.math-links %}
        <article class="post-preview">
          <a href="{{ post.href | relative_url }}">
          <h2 class="post-title">{{ post.title }}</h2>
          </a>

          {% if post.desc}
          <div class="post-entry-container">
            <div class="post-entry">
              <a href="{{ post.href | relative_url }}"> {{ post.desc }} </a>
            </div>
          </div>
          {% endif %}

        </article>
    {% endfor %}
</div>